<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Image upload</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="profileImage">
        <button type="submit">Upload</button>
    </form>
</body>
</html>